#Requirements for recasepunc:
git+https://github.com/benob/mosestokenizer.git
numpy
regex
torch
tqdm
transformers

wheel #Technically not necessary but it'll make your life easier.

#Requirements for pyttsx3 TTS:
pyttsx3
soundfile
sounddevice

#Requirements for 11.ai TTS:
elevenlabslib
requests

#Requirements for the vosk recognition:
vosk
#PyAudio; sys.platform != 'win32'
#PyAudioWPatch; sys.platform == 'win32'      #This is a fork of pyaudio that support WASAPI loopback devices, so you can use an output as an input.


#So as it turns out, vosk can only recognize input from single-channel sources. In addition, WASAPI loopback devices seem unable to use any number of channels
#that isn't the maximum, so I had to scrap this whole idea. You'll need to rely on something like VBCable if you want to use an audio output as input.
PyAudio


#Requirements for the whisper recognition:
#For the local version:
openai-whisper
SpeechRecognition
#For the API
openai

#Requirements for the azure recognition:
azure-cognitiveservices-speech
pycaw; sys.platform == 'win32'
comtypes; sys.platform == 'win32'

#For the OBS subtitles.
obsws-python

#For the translation
googletrans>=4.0.0rc1
deepl
